.FilterType {
    position: relative;
    animation: load .5s forwards;

    // List heading
    p {
        padding: .5rem;
    }

    // List item container
    ul {
        width: fit-content;
        background-color: white;
        color: rgb(0, 0, 0, .85);
        position: absolute;
        overflow: hidden;
        z-index: 100;
        box-shadow: 0px 0px 16px rgb(0, 0, 0, .05);

        // List items
        li {
            border-left: 2px solid transparent;
            transition: all .1s;
            padding: .25rem;
            opacity: .65;
        }

        li:hover {
            opacity: 1;
            text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.404);
        }

    }

    // Size list
    ul:last-child {
        li:first-child {
            text-transform: capitalize;
        }
    }
}

.ListStyles {
    background-color: var(--primary);
    opacity: 1 !important;
}

.ListParentStyles {
    border-bottom: 5px solid var(--primary);
}

@keyframes load {
    0% {
        overflow: hidden;
    }

    100% {
        overflow: none;
    }
}

.FilterListShow {
    height: fit-content;
    animation: show .1s linear forwards;
    white-space: nowrap;

    @keyframes show {
        0% {
            visibility: hidden;
            opacity: 0;
            top: 2.2em;
        }

        30% {
            opacity: 0;
        }

        100% {
            opacity: 1;
            top: 2.55em;
            visibility: visible;
        }
    }
}

.FilterListHide {
    animation: hide .1s linear forwards;
    white-space: nowrap;
    visibility: hidden;

    @keyframes hide {
        0% {
            opacity: 1;
            top: 2.55em;
            visibility: visible;
        }

        70% {
            opacity: .1;
            top: 2.4em;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
}