.ProductCard {
    height: 55vh;
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    img {
        position: absolute;
        object-fit: cover;
    }
}

.StarContainer {
    position: absolute;
    z-index: 100;
    right: 1.75em;
    top: .5em;

    img {
        box-sizing: content-box;
        padding: .15em;
        height: 20px;
        cursor: pointer;
    }
}

.StarTrue {
    animation: loadIn .075s forwards;
}

.StarFalse {
    animation: loadOut .075s forwards;
}

.ProductCardGone {
    animation: getOut .225s forwards ease-in;
}

@keyframes getOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: collapse;
    }
}

@keyframes loadIn {
    0% {
        opacity: .2;
        filter: contrast(.5);
    }

    100% {
        opacity: 1;
        filter: contrast(1);
    }
}

@keyframes loadOut {
    0% {
        opacity: 1;
        filter: contrast(1);
    }

    100% {
        opacity: .2;
        filter: contrast(.5);
    }
}

.Info {
    margin-top: auto;

    p {
        color: rgb(0, 0, 0, .85);
    }

    p:first-child {
        line-height: 3;
        padding: 0 .5em;
        text-align: left;
    }

    p {
        line-height: 1.5;
        text-align: center;
    }
}