.ProductCard {
    height: 27.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: .5rem .5rem 1rem;
    border-radius: 2px;
    border-bottom: 1px solid rgba(231, 215, 170, 0.65);
    box-shadow: 0px 0px 1px rgb(0, 0, 0, .4);

    img {
        cursor: pointer;
    }
}

.ProductImage {
    width: 90%;
    height: 80%;
    object-fit: contain;
}

.Info {
    margin-top: auto;

    p {
        color: rgb(0, 0, 0, .85);
    }

    p:first-child {
        color: rgb(0, 0, 0, .75);
        font-weight: bold;
        font-size: 1.05rem;
    }

    p::first-letter {
        text-transform: capitalize;
    }

    p {
        line-height: 1.5;
        text-align: center;
    }
}

.StarContainer {
    position: absolute;
    z-index: 100;
    right: 1.75em;
    top: .5em;

    img {
        position: absolute;
        box-sizing: content-box;
        padding: .15em;
        height: 20px;
    }
}

.StarTrue {
    animation: loadIn .075s forwards;
}

.StarFalse {
    animation: loadOut .075s forwards;
}

.ProductCardGone {
    display: none;
}

@keyframes loadIn {
    0% {
        opacity: .2;
        filter: contrast(.5);
    }

    100% {
        opacity: 1;
        filter: contrast(1);
    }
}

@keyframes loadOut {
    0% {
        opacity: 1;
        filter: contrast(1);
    }

    100% {
        opacity: .2;
        filter: contrast(.5);
    }
}

