.ProductView {
    margin: 0 1rem;

    p:first-letter {
        text-transform: capitalize;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7.5rem auto 1rem;

        // Consider mixin
        h2 {
            text-transform: capitalize;
            font-size: 3rem;
            text-align: center;
            padding: 0 2rem .5rem;
            border: 1px solid rgb(0, 0, 0, .1);
            box-shadow: 2.5px 2.5px 1px rgba(231, 215, 170, 0.95);
            color: rgb(0, 0, 0, .7);
        }

        button {
            border: none;
            padding: .5rem;
            background-color: white;
            box-shadow: 0px 0px 1px var(--primary);
            color: var(--primary);
            transition: all .15s;
            font-size: 1.1rem;
            margin-top: 1rem;
            align-self: center;


        }

        button:hover {
            box-shadow: 0px 0px 2px var(--primary);
        }
    }

    main {
        display: flex;
        max-width: 1600px;
        margin: 0 auto;

        @media screen and (max-width: 750px) {
            flex-direction: column;
        }
    }
}

.updateLoader {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    div {
        margin-top: 5em;
        aspect-ratio: 1/1;
        width: 75px;
        border-radius: 50%;
        background-color: rgba(117, 117, 117, 0.3);
        border: 8px solid transparent;
        border-color: transparent transparent transparent rgb(53, 53, 53);
        animation: spin infinite linear .65s;
    }
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
}

.Images {
    flex: 1;
    height: 38.5em;
    display: flex;
    background: linear-gradient(to right, rgb(250, 250, 250), rgb(245, 245, 245));
    padding: .5rem;
    column-gap: .5rem;

    div {
        display: flex;
        align-items: flex-start;

        img {
            cursor: pointer;
            height: 150px;
            width: 100%;
            object-fit: contain;
            background-color: white;
        }
    }

    .FatImage {
        height: 100%;
        width: 100%;
        background-color: white;
        object-fit: contain;
    }

    @media screen and (max-width:1550px) {
        flex-direction: column-reverse;
        height: auto;
        row-gap: .5rem;
        
    }
}

.Info {
    flex: 1;
    padding: .75rem 1.5rem;
    border: 1px solid rgb(0, 0, 0, .05);
    border-left: none;

    * {
        margin-bottom: .75rem;
    }

    // Price
    p:nth-child(5) {
        font-weight: bold;
        color: var(--primary);
    }

    h3 {
        font-weight: bold;
        font-size: 1.25rem;
        text-transform: capitalize;
        display: flex;
        column-gap: .5rem;

        img {
            margin: auto 0;
        }
    }

    h4 {
        font-size: 1rem;
        text-transform: capitalize;
    }

    img {
        width: 20px;
        cursor: pointer;
    }
}

.SizeChart {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.RelatedProducts {

    img {
        height: 50px;
        width: 50px;
        object-fit: contain;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.082);
    }
}

.OutOfStock {
    user-select: none;
    color: rgb(0, 0, 0, .15);
}

.StarTrue {
    animation: loadIn .075s forwards;
}

.StarFalse {
    animation: loadOut .075s forwards;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    label {
        font-size: 1rem;
        text-transform: capitalize;
        font-weight: bold;
    }

    input[type=submit] {
        cursor: pointer;
        background-color: white;
        padding: .25rem .5rem;
        border: 1px solid rgb(0, 0, 0, .3);
        margin: 0;
    }
}

.Warning, .Added {
    padding: .25rem .5rem;
    width: fit-content;
}

.Warning {
    background-color: rgb(228, 183, 183);
}

.Added {
    background-color: rgb(191, 228, 183);
}

@keyframes loadIn {
    0% {
        opacity: .2;
        filter: contrast(.5);
    }

    100% {
        opacity: 1;
        filter: contrast(1);
    }
}

@keyframes loadOut {
    0% {
        opacity: 1;
        filter: contrast(1);
    }

    100% {
        opacity: .2;
        filter: contrast(.5);
    }
}