.Loader {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    animation: loader .75s linear forwards;
    position: absolute;
    opacity: 0;
}

@keyframes loader {
    0% {
        opacity: .5;
    }

    70% {
        opacity: 0;
    }

    100% {
        display: none;
    }
}