.ShopThis {
    display: flex;
    column-gap: 1em;

    @media screen and (max-width: 1250px) {
        flex-direction: column;
        height: 100vh;
        row-gap: 1em;
        margin: 0 1rem;
    }

    div {
        flex: 1;
        height: 60vh;
        position: relative;

        button {
            position: absolute;
            width: fit-content;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 1em;
            background-color: white;
            padding: .5em;
            color: rgb(0, 0, 0, .85);
            border: none;
            cursor: pointer;
            font-size: 1.1rem;
            box-shadow: 0px 0px 16px rgb(0, 0, 0, .11);
        }

        button:focus {
            outline: none;
            box-shadow: 0px 0px 16px rgb(0, 0, 0, .15);
        }

        @media screen and (max-width: 1250px) {
            background-position: bottom;

            button {
                font-size: 1rem;
                bottom: 2.5em;
                box-shadow: 0px 0px 16px rgb(0, 0, 0, .21);
            }

            button:focus {
                box-shadow: 0px 0px 16px rgb(0, 0, 0, .31);
            }
        }
    }

    div:first-child {
        background: url("../../assets/images/shopTops.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    div:last-child {
        background: url("../../assets/images/shopBottomsOne.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    div:first-child,
    div:last-child {
        @media screen and (max-width: 1250px) {
            background-position: center;
        }
    }
}