.CartProductCard {
    background-color: rgba(255, 0, 0, 0.13);
    min-width: 600px;
    min-height: 200px;
    display: flex;

    div {
        flex: 1;
        border: 1px solid black;
    }
}

.FadeOut {
    animation: fade .5s linear forwards;
}

@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
        display: none;
        visibility: collapse;
    }

    100% {
        opacity: 0;
        position: absolute;
        display: none;
        visibility: collapse;
    }
}

.CartThings {
    display: flex;
    align-items: center;
    column-gap: 1em;

    button {
        border: none;
        padding: .5em;
    }
}

.hideCancelModal {
    display: none;
}

.showCancelModal {
    display: flex;
}

.hideUnavailableModal {
    display: none;
}

.showUnavailableModal {
    display: flex;
}

