.CartProductCard {
    display: flex;
    padding: .5rem;
    border-bottom: 1px solid var(--primary);
    position: relative;

    @media screen and (max-width: 750px) {
        align-items: center;
        flex-direction: column;
        row-gap: 1rem;
    }

    h3,
    p {
        font-size: 1rem;
        text-transform: capitalize;
    }

    button {
        aspect-ratio: 1/1;
        background-color: white;
        box-shadow: 0px 0px 1px rgb(0, 0, 0, .9);
    }

    * {
        line-height: 1;
    }
}

.Error {
    position: absolute;
    bottom: 1rem;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    padding: .25rem .5rem;
    background-color: rgba(255, 0, 0, 0.795);
        color: rgb(255, 255, 255, .9);
}

.CartInfo {
    display: flex;
    flex: 1;

    @media screen and (max-width: 750px) {
        align-self: flex-start;
    }
}

.CartChanger {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    flex: 2;

    @media screen and (max-width: 550px) {
        flex-wrap: wrap;
        column-gap: 1rem;
        justify-content: center;
    }

    button {
        border: none;
        padding: .5em;
    }

    h3 {
        text-align: center;
    }
}

.Image {
    background-color: white;

    img {
        height: 150px;
        width: 100%;
        object-fit: contain;
        cursor: pointer;
    }
}

.Info {
    flex: 1;
    padding: .25rem .5rem;

    * {
        margin-bottom: .5rem;
    }

 
}

.Quantity {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        margin-bottom: .5rem;
    }

    // Insufficient stock
    p:nth-child(2) {
        background-color: var(--warning);
        padding: .25rem .5rem;
        font-size: .95;
    }
}

.LinePrice, .UnitPrice {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        margin-bottom: .5rem;
    }
}

.Remove {
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        margin-bottom: .5rem;
    }
}

.FadeOut {
    display: none;
}

.hideCancelModal {
    user-select: none;
    visibility: hidden;

    @media screen and (max-width: 750px) {
        order: 1;
    }
}

.showCancelModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 750px) {
        order: 1;
    }


    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 1rem;
    }

    button {
        width: fit-content;
        aspect-ratio: 2/1;
        cursor: pointer;
    }

    button:last-child {
        background-color: rgba(255, 0, 0, 0.795);
        color: rgb(255, 255, 255, .9);
    }

    * {
        cursor: default;
        margin-bottom: .5rem;
    }
}

.hideUnavailableModal {
    visibility: hidden;
}

.showUnavailableModal {
    visibility: visible;
    text-align: center;
    background-color: rgb(228, 183, 183);
    padding: .15rem 0;
}