.FeaturedCard {
    flex: 1;
    position: relative;
    box-shadow: 0px 0px 2px rgb(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        font-size: 1.05em;
        position: absolute;
        padding: .5em;
        bottom: 2em;
        width: fit-content;
        margin: 0 auto;
        left: 0;
        right: 0;
        transition: all .15s;
        border: none;
        cursor: pointer;
        background-color: rgb(255, 255, 255, 1);
        color: rgb(0, 0, 0, .95);
        box-shadow: 0px 0px 16px rgb(0, 0, 0, .11);
    }

    button:focus {
        outline: none;
        box-shadow: 0px 0px 16px rgb(0, 0, 0, .15);
    }

    img {
        position: absolute;
        width: 90%;
        height: 90%;
        object-fit: cover;
    }
}