.Filters {
    align-self: stretch;
    background-color: red;
    display: flex;
    justify-content: space-around;
    column-gap: 2em;

    * {
        cursor: pointer;
    }

    li:first-letter {
        text-transform: capitalize;

        li:first-letter {
            text-transform: capitalize;
        }
    }

    li:last-child {
        li {
            text-transform: uppercase;
        }
    }
}