.Filters {
    align-self: stretch;
    background-color: red;
    display: flex;
    justify-content: space-around;
    column-gap: 2em;

    * {
        cursor: pointer;
        text-transform: capitalize;
    }
}

.FilterType {
    background-color: green;
    position: relative;

    ul {
        width: fit-content;
        background-color: yellow;
        position: absolute;
        overflow: hidden;
        opacity: 0;

        li {
            border-bottom: 1px solid transparent;
            transition: all .1s;
        }

        li:hover {
            border-color:blue;
        }
    }

}

.FilterListShow {
    height: fit-content;
    animation: show .1s linear forwards;
    white-space: nowrap;

    @keyframes show {
        0% {
            visibility: hidden;
            opacity: 0;
            top: .9em;
        }

        30% {
            opacity: 0;
            top: 1.0em;
        }

        100% {
            opacity: 1;
            top: 1.1em;
            visibility: visible;
        }
    }
}

.FilterListHide {
    animation: hide .1s linear forwards;
    white-space: nowrap;

    @keyframes hide {
        0% {
            opacity: 1;
            top: 1.1em;
            visibility: visible;
        }

        70% {
            opacity: .1;
            top: .9em;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }
    }
}