/* Global CSS Styles + Reset */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Quicksand&family=Shadows+Into+Light&display=swap');

:root {
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  --primary: rgb(207, 175, 88);
  --warning: rgb(228, 183, 183);
}

.text-center {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

button {
  cursor: pointer;
}

/* Single line truncate */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Multi line truncate */
.multi-truncate {
  line-height: 2rem;
  max-height: 4rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Shadows Into Light', cursive;
*/

h2 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: normal;
  letter-spacing: -2px;
}
