.HomePage {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.Hero {
    background: url("../../assets/images/hero.jpg");
    background-color: rgba(255, 123, 0, 0.144);
    background-position: center;
    background-blend-mode: darken;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadein .25s ease-in;

    button {
        cursor: pointer;
        position: absolute;
        bottom: 2.5em;
        font-size: 1.5em;
        padding: .5em;
        border: none;
        box-shadow: 0px 0px 16px rgb(0, 0, 0, .05);
        background-color: white;
    }

    button:focus {
        outline: none;
    }
}

.Tag {
    position: relative;
    align-self: flex-start;
    top: 10em;
    font-size: 1.75rem;
    background-color: rgb(0, 50, 0, .1);

}

.FeaturedContainer {
    display: flex;
    column-gap: 1em;
    background-color: rgba(0, 255, 170, 0.041);
    position: relative;
    height: 65vh;

    .Arrows {
        cursor: pointer;
        z-index: 100;
        font-size: 4em;
        position: absolute;
        top: 50%;
        border: none;
        background-color: transparent;
        padding: 0 .15em;
        transition: all .05s;
    }

    button:hover {
        color: blue;
    }

    button:first-child {
        left: .5em;
    }

    button:last-child {
        right: .5em;
    }

    div {
        opacity: 1;
    }
}

.RightToLeftAnimation {
    div:nth-child(4) {
        animation: loader .25s 0s ease-in forwards;
    }
    
    div:nth-child(3) {
        animation: loader .5s .25s ease-in forwards;
    }

    div:nth-child(2) {
        animation: loader .5s .5s ease-in forwards;
    }
}

.LeftToRightAnimation {
    div:nth-child(2) {
        animation: loader .25s 0s ease-in forwards;
    }
    
    div:nth-child(3) {
        animation: loader .5s .25s ease-in forwards;
    }

    div:nth-child(4) {
        animation: loader .5s .5s ease-in forwards;
    }
}

@keyframes loader {
    0% {
        // opacity: 0;
        filter: brightness(.5);
    }

    70% {
        // opacity: .9;
        filter: brightness(.9)
    }

    100% {
        //opacity: 1;
        filter: brightness(1)
    }
}
