.Nav {
    display: flex;
    column-gap: 1em;
    position: relative;
    z-index: 100;
    align-self: flex-start;
    margin: 4rem 4rem 0 0;

    a,
    p {
        color: rgb(155, 155, 155);
        padding: 5px 0;
        transition: .15s all;
        font-size: 1.5rem;
        border-bottom: 2px solid rgb(155, 155, 155, .65);
        transition: all .15s;
    }

    p{cursor: pointer;}


    a:hover, p:hover {
        color: rgb(85, 85, 85);
        border-bottom: 2px solid rgba(99, 99, 99, 0.9);
    }
}

.CartNumber {

    &:first-letter {
        color: var(--primary);
        text-shadow: none;
    }

    border-bottom: 2px solid var(--primary) !important;
}

.SmallNav {
    margin: 1.5rem 1.5rem 0 0 !important;

    a, p {
        font-size: 1.2rem !important;
    }

}