.FavouritesDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    background-color: white;
    animation: loadIn .4s forwards linear;
    margin: 0 auto;
    max-width: 1200px;
}

@keyframes loadIn {
    0% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}