.FavouritesDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    background-color: white;
    animation: loadIn .4s forwards linear;
    margin: 0 auto;
    max-width: 1200px;

    @media screen and (max-width:1250px) {
        margin: 0 1rem;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    
    @media screen and (max-width: 950px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (max-width: 700px) {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@keyframes loadIn {
    0% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}