.FavouritesDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5em;
    padding: 2.5em 10em;
    background-color: rgba(0, 128, 0, 0.212);
    min-height: 100vh;
    animation: loadIn .4s forwards linear;
}

@keyframes loadIn {
    0% {
        opacity: .1;
    }

    100% {
        opacity: 1;
    }
}